{% extends "layout.html" %}
{% block content %}
<h1>About WRC Tipping</h1>

<p>WRC Tipping 2018</p>

<p>Established in 2014, we predict the top 10 results of each WRC round. Like betting on it without the fun of betting.</p>

<p>Champions and runner-up list:</p>

<ul>
  <li>2014 - Will (186pts), Jake (181pts)</li>
  <li>2015 - Will (213pts), Lee (207pts)</li>
  <li>2016 - Lee (198pts), Will (197pts)</li>
  <li>2017 - Meurig (125pts), James W (124pts)</li>
  <li>2018 - </li>
</ul>
{% endblock content %}