{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">
            Pick tips for [[ rally name here ]]
          </legend>
          <div class="form-group">
              {{ form.position_1.label(class="form-control-label") }}
              {{ form.position_1(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_2.label(class="form-control-label") }}
              {{ form.position_2(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_3.label(class="form-control-label") }}
              {{ form.position_3(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_4.label(class="form-control-label") }}
              {{ form.position_4(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_5.label(class="form-control-label") }}
              {{ form.position_5(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_6.label(class="form-control-label") }}
              {{ form.position_6(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_7.label(class="form-control-label") }}
              {{ form.position_7(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_8.label(class="form-control-label") }}
              {{ form.position_8(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_9.label(class="form-control-label") }}
              {{ form.position_9(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
              {{ form.position_10.label(class="form-control-label") }}
              {{ form.position_10(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.stage_two_selection.label(class="form-control-label") }}
            {{ form.stage_two_selection(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.power_stage_selection.label(class="form-control-label") }}
            {{ form.power_stage_selection(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
    </div>
{% endblock content %}
