{% extends "layout.html" %}
{% block content %}
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit ab quisquam similique nulla et alias dolore accusantium,
  laboriosam mollitia reprehenderit molestias tempore dolores, omnis, rerum molestiae doloribus cupiditate earum eaque optio
  ipsam nemo eligendi distinctio repudiandae. Aliquid eius dolore ullam quibusdam, sapiente odit tempora cupiditate impedit.
  Odit magnam provident dolorum voluptates esse perspiciatis dicta saepe non delectus a, ratione aspernatur animi est quae
  ut sint ex maxime dolore explicabo, repudiandae alias error! Eius, consequuntur quibusdam expedita autem natus provident,
  ipsam aliquam debitis minima voluptate rerum quod dolorem, ratione alias facilis architecto! Repudiandae alias rerum corporis
  provident fugit repellat aliquam.
</p>
{% endblock content %}